:root{
    --gold: gold;
    --scarlet: rgba(255, 0, 0, 0.851);
    --gainsboro:gainsboro;
    --blue: blue;
    --oscuro:#000;
    --titulos:'Arima Madurai',cursive;
    --parrafos:'Mulish', sans-serif;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-image: url(assets/pics/bog6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*globales*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}
h1,h2{
    font-family: var(--titulos);
}
h3, p, a{
    font-family: var(--titulos);
}
.foto {
    max-width: 100%;
}
.gold{
    color: var(--gold);
}
.blue{
    color: var(--blue);
}
.scarlet{
    color: var(--scarlet)
}
.ocultar{
    display: none;
}
.btn-cerrar{
    font-size: 45px;
    font-weight: bold;
    color: var(--scarlet);
    position: absolute;
    top: 0;
    right: 40px;
    user-select: none;

}
.pantalla-completa{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 3;
}
@keyframes desplazamiento {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform:translateX(0);
    }
}
.btn-cerrar:hover{
    cursor: pointer;
}
.btn{
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    padding: 1px 5px;
    border-radius: 15px;
    margin-top: 80px;
    transition: all .3s ease-in-out;
}
@media(min-width: 768px) {
    .btn{
        font-size: 2.2rem;
    }
}
.bordes{
    border: 3px solid var(--scarlet);
}
@media(min-width: 768px) {
    .bordes{
        border: 4px solid var(--gainsboro);
    }
}
.bordes:hover{
    color: var(--scarlet);
}
.btn-scarlet{
    background-color: var(--scarlet);
    font-weight: bold;
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.btn-gold{
    background-color: var(--gold);
    border: none;
    display: inline-block;
    margin-bottom: 2rem;
    font-family: var(--parrafos);
}
.btn-gold:hover{
    background-color: var(--scarlet);
}
/*encabezado*/
.contenedor-navegacion{
    background-color: transparent;
    position: relative;
    z-index: 5;
  
}
.contenido-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h2, .navegacion a {
  color: var(--gainsboro);  
}
.logo h2{
    margin: 14px;
    font-size: 45px;
}
.navegacion a{
    text-decoration: none;
    font-size: 20px;
    padding: 1.5rem;
    padding-left: 4rem;
    display: block;
    transition: color .3s ease-in-out;
    text-align: center;
}

@media(min-width: 768px) {
    .navegacion a{
        text-align: left;
    }
}


.navegacion a:nth-child(even):hover{
    color: var(--scarlet);
}
.navegacion a:nth-child(odd):hover{
    color: var(--gold);
}
.navegacion a:first-of-type{
    margin-top: 5rem;
}
.navegacion{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 740px;
    width: 100%;
    padding: 50px 50px;
    backdrop-filter: blur(10px);
    background-color: transparent;
    animation: desplazamiento .5s ease-in-out;
}

.hamburguesa:hover{
    cursor: pointer;
}

.hamburguesa span{
    background-color: var(--scarlet);
    display: block;
    width: 35px;
    height: 7px;
    margin-bottom: 3px;
}

.slider {
    margin-top: 1px;
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 18s linear infinite;
  width: calc(230px * 16);
}

.slider .slide {
  width: 230px;
}

.slider .slide img {
  width: 100%;
  height: 140px;
}
@keyframes scroll {
0% {
  -webkit-transform: translatex(0);
  transform: translatex(0);
}
100% {
  -webkit-transform: translatex(calc(-220px * 8));
  transform: translatex(calc(-220px * 8));
}

}

.welcome {
    text-align: center;
    color: blue;
    margin-top: 15px;
    font-size: 18px;
}
.container {
    text-align: center;
    display: flex;
    margin: 0 auto;
    place-content: center;
    align-items: center;
    justify-content: center;
}
.container .div-1 h2 {
    color: rgba(255, 0, 0, 0.851);
    margin-top: 6px;
    font-size: 21px;
}
.container .div-1 h3 {
    font-size: 18px;
}
.container .div-1 p {
    font-size: 15px;
}
  
.div-1 {
    border: 1px solid rgba(61, 12, 209, 0.411);
    border-radius: 16px;
    box-shadow:0 4px 30px rgba(0, 0,0, 0.1);
    backdrop-filter: blur(4px);
    width: 310px;
    height: 255px;
    margin-top: 1px;
    align-self: center;
    padding: auto;
}

.container .div-2 h2 {
    color: rgba(255, 0, 0, 0.851);
    margin-top: 4px;
    font-size: 24px;
}
.container .div-2 h3 {
    font-size: 20px;
}
.container .div-2 p {
    font-size: 15px;
    color: #000;
}
.div-2 {
    border: 1px solid rgba(61, 12, 209, 0.411);
    border-radius: 16px;
    box-shadow:0 4px 30px rgba(0, 0,0, 0.1);
    backdrop-filter: blur(4px);
    width: 120px;
    height: 900px;
    margin-top: 10px;
    margin-right: 10px;
    align-self: center;
    padding: auto;
}

.container .div-3 h2 {
    color: rgba(255, 0, 0, 0.851);
    margin-top: 4px;
    font-size: 24px;
}
.container .div-3 h3 {
    font-size: 17px;
}
.container .div-3 p {
    font-size: 15px;
    color: #000;
    margin-top: 10px;
}
.div-3 {
    border: 1px solid rgba(61, 12, 209, 0.411);
    border-radius: 16px;
    box-shadow:0 4px 30px rgba(0, 0,0, 0.1);
    backdrop-filter: blur(4px);
    width: 180px;
    height: 900px;
    margin-top: 10px;
    align-self: center;
    padding: auto;
}

.div-4 {
    border: 1px solid rgba(61, 12, 209, 0.411);
    border-radius: 16px;
    box-shadow:0 4px 30px rgba(0, 0,0, 0.1);
    backdrop-filter: blur(4px);
    width: 150px;
    height: 122px;
    margin-top: 40px;
    margin-right: 10px;
    align-self: center;
}

.div-5 {
    border: 1px solid rgba(61, 12, 209, 0.411);
    border-radius: 16px;
    box-shadow:0 4px 30px rgba(0, 0,0, 0.1);
    backdrop-filter: blur(4px);
    width: 150px;
    height: 122px;
    margin-top: 40px;
    align-self: center;
    padding: auto;
}

.div-6 {
    border: 1px solid rgba(61, 12, 209, 0.411);
    border-radius: 16px;
    box-shadow:0 4px 30px rgba(0, 0,0, 0.1);
    backdrop-filter: blur(4px);
    width: 100px;
    height: 260px;
    margin-top: 40px;
    align-self: center;
    margin-right: 5px;
    padding: auto;
}

.div-7 {
    border: 1px solid rgba(61, 12, 209, 0.411);
    border-radius: 16px;
    box-shadow:0 4px 30px rgba(0, 0,0, 0.1);
    backdrop-filter: blur(4px);
    width: 100px;
    height: 260px;
    margin-top: 40px;
    margin-right: 5px;
    align-self: center;
}

.div-8 {
    border: 1px solid rgba(61, 12, 209, 0.411);
    border-radius: 16px;
    box-shadow:0 4px 30px rgba(0, 0,0, 0.1);
    backdrop-filter: blur(4px);
    width: 100px;
    height: 260px;
    margin-top: 40px;
    align-self: center;
}

.div-9 {
    border: 1px solid rgba(61, 12, 209, 0.411);
    border-radius: 16px;
    box-shadow:0 4px 30px rgba(0, 0,0, 0.1);
    backdrop-filter: blur(4px);
    width: 70px;
    height: 250px;
    margin: 60px 5px;
    align-self: center;
}

.div-10 {
    border: 1px solid rgba(61, 12, 209, 0.411);
    border-radius: 16px;
    box-shadow:0 4px 30px rgba(0, 0,0, 0.1);
    backdrop-filter: blur(4px);
    width: 70px;
    height: 250px;
    align-self: center;
    margin: 60px 0;
}

.div-11 {
    border: 1px solid rgba(61, 12, 209, 0.411);
    border-radius: 16px;
    box-shadow:0 4px 30px rgba(0, 0,0, 0.1);
    backdrop-filter: blur(4px);
    width: 70px;
    height: 250px;
    align-self: center;
    margin: 60px 5px;
}

.div-12 {
    border: 1px solid rgba(61, 12, 209, 0.411);
    border-radius: 16px;
    box-shadow:0 4px 30px rgba(0, 0,0, 0.1);
    backdrop-filter: blur(4px);
    width: 70px;
    height: 250px;
    margin: 60px 0;
    align-self: center;
}


/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
    width: 10px;
    background-color: hsl(219, 4%, 16%);
  
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: hsl(219, 4%, 24%);
    border-radius: 1rem;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: hsl(219, 4%, 32%);
  }
  
  /*=============== SCROLL UP ===============*/
  .scrollup{
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background-color: hsla(0, 0%, 100%, .1);
    display: inline-flex;
    padding: .45rem;
    font-size: 24px;
    color: var(--white-color);
    z-index: var(--z-tooltip);
    transition: .4s;
  }
  .scrollup:hover{
    transform: translateY(-.28rem);
  }
  
  
  /* Show Scroll Up*/
  
  .show-scroll{
    bottom: 3rem;
  }

/* For small devices */
@media screen and (max-width: 320px){
  
}

/* For medium devices */
@media screen and (min-width: 518px) {
.navegacion {
    width: 100%;
    align-items: center;
}
.welcome {
    text-align: center;
    margin-top: 10px;
    font-size: 21px;
}

.div-1 {
    margin-top: 1px;
    width: 500px;
    height: 190px;
}
.container .div-1 h2 {
    color: rgba(255, 0, 0, 0.851);
    margin-top: 4px;
    font-size: 28px;
}
.container .div-1 h3 {
    font-size: 20px;
}
.container .div-1 p {
    font-size: 16px;
    color: #000;
}

.div-2 {
    width: 150px;
    height: 780px;
    margin-top: 7px;
    margin-right: 15px;
}
.container .div-2 h2 {
    color: rgba(255, 0, 0, 0.851);
    margin-top: 4px;
    font-size: 28px;
}
.container .div-2 h3 {
    font-size: 20px;
}
.container .div-2 p {
    font-size: 16px;
    color: #000;
}


.div-3 {
    width: 330px;
    height: 780px;
    margin-top: 7px;
    padding: auto;
}
.container .div-3 h2 {
    color: rgba(255, 0, 0, 0.851);
    margin-top: 1px;
    font-size: 32px;
}
.container .div-3 h3 {
    font-size: 25px;
}
.container .div-3 p {
    font-size: 16px;
    color: #000;
}
.container .div-3 img {
    width: 300px;
    height: 130px;
    
}


.div-4 {
    width: 240px;
    height: 522px;
    margin-top: 40px;
}
.div-5 {
    width: 240px;
    height: 522px;
    margin-top: 40px;
}

.div-6 {
    width: 160px;
    height: 400px;
    margin-top: 40px;
}

.div-7 {
    width: 160px;
    height: 400px;
    margin-top: 40px;
}
.div-8 {
    width: 160px;
    height: 400px;
    margin-top: 40px;
}
.div-9 {
    width: 120px;
    height: 400px;
    margin-top: 80px;
}
.div-10 {
    width: 120px;
    height: 400px;
    margin-top: 80px;
}
.div-11 {
    width: 120px;
    height: 400px;
    margin-top: 80px;
}
.div-12 {
    width: 120px;
    height: 400px;
    margin-top: 80px;
}

}

/* For large devices */

@media screen and (min-width: 900px) {

.navegacion {
    width: 100%;
    align-items: center;
}

.welcome {
    text-align: center;
    margin-top: 5px;
    font-size: 23px;
}
.container {
    margin-top: 1px;
}
.container .div-1 h2 {
    color: rgba(255, 0, 0, 0.851);
    margin-top: 5px;
    font-size: 35px;
}
.container .div-1 h3 {
    font-size: 30px;
}
.container .div-1 p {
    font-size: 21px;
}

.div-1 {
    width: 800px;
    height: 230px;
    margin-top: 5px;
}
.container .div-1 h2 {
    color: rgba(255, 0, 0, 0.851);
    margin-top: 5px;
    font-size: 35px;
}
.container .div-1 h3 {
    font-size: 30px;
}
.container .div-1 p {
    font-size: 21px;
}
.div-2 {
    width: 290px;
    height: 930px;
    margin-top: 7px;
    margin-right: 10px;
}
.container .div-2 h2 {
    color: rgba(255, 0, 0, 0.851);
    margin-top: 4px;
    font-size: 32px;
}
.container .div-2 h3 {
    font-size: 25px;
}
.container .div-2 p {
    font-size: 20px;
    color: #000;
}


.div-3 {
    width: 520px;
    height: 930px;
    margin-top: 7px;
    padding: auto;
}
.container .div-3 h2 {
    color: rgba(255, 0, 0, 0.851);
    margin-top: 1px;
    font-size: 32px;
}
.container .div-3 h3 {
    font-size: 25px;
}
.container .div-3 p {
    font-size: 20px;
    color: #000;
}
.container .div-3 img {
    width: 500px;
    height: 170px;
    
}


.div-4 {
    width: 390px;
    height: 522px;
    margin-top: 40px;
}
.div-5 {
    width: 390px;
    height: 522px;
    margin-top: 40px;
}

.div-6 {
    width: 260px;
    height: 400px;
    margin-top: 40px;
}

.div-7 {
    width: 260px;
    height: 400px;
    margin-top: 40px;
}
.div-8 {
    width: 260px;
    height: 400px;
    margin-top: 40px;
}
.div-9 {
    width: 195px;
    height: 600px;
    margin-top: 50px;
}
.div-10 {
    width: 195px;
    height: 600px;
    margin-top: 50px;
}
.div-11 {
    width: 195px;
    height: 600px;
    margin-top: 50px;
}
.div-12 {
    width: 195px;
    height: 600px;
    margin-top: 50px;
}
}


.footer {
    color: blue;
    text-align: center;
    background-color: var(--oscuro);
    font-size: 18px;
    width: 100%;
    height: 80px;
}

.footer__copy{
    display: block;
    margin-top: 0px;
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--scarlet);
    padding-top: 20px;
}
.footer__dev-link{
  color: blue;
}
.footer__dev-link::before{
 
  text-shadow: 0 0 12px hsl(0, 0%, 100%);
  transition: .3s;
  animation: a 3s infinite; 
}