.welcome {
    text-align: center;
    color: rgb(248, 73, 4);
    margin-top: 25px;
}
.welcome h1 {
    font-size: 50px;
}
    @media screen and (min-width: 620px) {
        .welcome h1 {
        font-size: 70px;
        }
    }
    @media screen and (min-width: 920px) {
        .welcome h1 {
        font-size: 80px;
        }
    }

.card {
    text-align: center;
    display: flex;
    margin: 0 auto;
    place-content: center;
    align-items: center;
    justify-content: center;
}
  
.div-1 {
    border: 1px solid rgba(61, 12, 209, 0.411);
    border-radius: 16px;
    box-shadow:0 4px 30px rgba(0, 0,0, 0.1);
    backdrop-filter: blur(4px);
    width: 320px;
    height: 250px;
    margin-top: 30px;
    align-self: center;
    padding: auto;
}
    @media screen and (min-width: 620px) {
        .div-1 {
            width: 520px;
            height: 260px;
        }
    }
    @media screen and (min-width: 920px) {
        .div-1 {
            width: 620px;
            height: 270px;
        }
    }



.btn_mostrar {
    cursor: pointer;
    background-color: blue;
    width: 200px;
    height: 50px;
    margin-top: 60px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    transition: 0.0010s;
}
    @media screen and (min-width: 620px) {
        .btn_mostrar {
            width: 260px;
            height: 60px;
        }
    }
.btn_mostrar h3 {
    font-size: 15px;
    font-family: 'Exo', sans-serif;
}
@media screen and (min-width: 620px) {
    .btn_mostrar h3 {
        font-size: 20px;
    }
}

.btn_mostrar:hover{
  
    background: rgb(153, 255, 0);
    box-shadow: 0 0 90px rgb(152, 253, 0),
                0 0 110px rgb(155, 252, 10),
                0 0 140px rgb(152, 253, 1);
                transition-delay: 0.7s;
}
    @media screen and (min-width: 720px) {
            .btn_mostrar:hover {
                box-shadow: 0 0 120px rgb(163, 255, 24),
                0 0 150px rgb(155, 252, 10),
                0 0 190px rgb(152, 253, 1);

            }
        }
.btn_mostrar:hover h3 {
    color: rgb(255, 123, 0);
    font-size: 18px;
}
@media screen and (min-width: 620px) {
    .btn_mostrar:hover h3 {
    font-size: 24px;
    }
}

.btn_mostrar span{
    position: absolute;
    display: block;
}

.btn_mostrar span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 60px;
    background: linear-gradient(90deg, transparent, greenyellow);
}

    @media screen and (min-width: 720px) {
        .btn_mostrar span:nth-child(1) {
            height: 60px;
        }
    }
.btn_mostrar:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
.btn_mostrar span:nth-child(2){
    top: -100%;
    right: 0;
    width: 50px;
    height: 100%;
    background: linear-gradient(180deg, transparent, greenyellow);
}
.btn_mostrar:hover span:nth-child(2){
    left: 100%;
    transition: 1s;
    transition-delay: 0.15s;
}
.btn_mostrar span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 50px;
    background: linear-gradient(270deg, transparent, greenyellow);
}
.btn_mostrar:hover span:nth-child(3){
    left: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.btn_mostrar span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, transparent, greenyellow);
}
.btn_mostrar:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.55s;
}


.buscador {
    margin-top: 50px;
}
  
  #pelicula {
    margin-top: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0 4px;
  }

 
.cuadro_pelicula img{ 
    cursor: pointer;
    width: 100%;
	height: 240px;
	object-fit: cover;
	margin-top: 8px;
	padding: 0 4px;
	border-radius: 10px;

}




